<div class="flip-container row">
  <div class="col-md-3">
    <div class="flipper ">
      <div class="front " style="">
        <img class="img-responsive" alt="" src="images/jiye-front.jpg">
      </div>
      <div class="back" style="">
        <img src="images/jiye-back.jpg" alt="" class="img-responsive" style="">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="flipper ">
      <div class="front flip-size-2" >
        <img src="images/luozhenyu.png" alt="">
      </div>
      <div class="back" >
        <img src="images/luozhenyu.png" alt="">
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="flipper ">
      <div class="front " >
        <!-- <img src="images/wodun.png" alt=""> -->
        <div class="carousel-container">
          <div class="col-sm-12 col-xs-12">
            <div id="carousel-id" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carousel-id" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-id" data-slide-to="1"></li>
                <li data-target="#carousel-id" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active">
                  <img src="images/wodun.png" alt="">
                </div>
                <div class="item">
                  <img src="images/wuhezhizhong.png" alt="">
                </div>
                <div class="item">
                  <img src="images/dilei.png" alt="">
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="back" style="padding: 15%;" >
        <h2>每天听本书</h2>
        <p class="text-slogan">集结最牛说书人为你说好书，跑步、晨起、睡前，每天半小时，一年收获365本好书干货。</p>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="flipper ">
      <div class="front " >
        <div class="col-md-4" style="padding: 5%;text-align:center;" >
          <h2>大咖专栏</h2>
          <p class="text-slogan">独家订阅专栏，邀请各行业大咖为你量身提供知识服务</p>
        </div>
        <div class="col-md-8" style="padding:0;">
          <img src="images/zhuanlan.png" alt="">
        </div>
      </div>
      <div class="back" >
        <div id="special-column">
          <div class="col-md-3 col-sm-3 gallery">
            <a href="#">
              <img src="images/徐来.jpg" alt="">
              <p class="text-title">给孩子的博物学</p>
            </a>
          </div>
          <div class="col-md-3 col-sm-3 gallery">
            <a href="#">
              <img src="images/薛兆丰.jpg" alt="">
              <p class="text-title">薛兆丰的北大经济学课</p>
            </a>
          </div>
          <div class="col-md-3 col-sm-3 gallery">
            <a href="#">
              <img src="images/香帅.jpg" alt="">
              <p class="text-title">香帅的北大金融学课</p>
            </a>
          </div>
          <div class="col-md-3 col-sm-3 gallery">
            <a href="#">
              <img src="images/魏.jpg" alt="">
              <p class="text-title">Dr.魏家庭教育宝典</p>
            </a>
          </div>
        </div>
        <%= link_to("查看更多商品","#",id:"btn-detail") %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="flipper ">
      <div class="front " >
        <img src="images/lixiang.jpeg" alt="">
      </div>
      <div class="back" style="padding: 15%;" >
        <h2>李翔知识内参</h2>
        <p class="text-slogan">每天6-10条高浓度知识音频，让你用短短十五分钟，了解全球知识的精华和最新动态</p>
      </div>
    </div>
  </div>

</div>
