<h1>我的收藏列表</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>商品</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product|%>
      <tr>
        <td>
          <%= link_to product_path(product) do %>
            <%= product.title %>
          <% end %>
        </td>
        <td><%= link_to('删除',unlike_product_path(product),method: :post) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
