
<div class="col-md-12 col-sm-12"> 按条件筛选：
  <%= form_tag products_path,method: :get do %>
    <%= select_tag "select_id",options_for_select(Category.all.map{|x| [x.name,x.id]},:selected=>@value_id),:onChange=>"this.form.submit();",:prompt=>"全部",:class=>"select_category" %>
    <%= select_tag "order_state",options_for_select(["按价格排序","价格从低到高","价格从高到低"],:selected=>@order_state),:data=>{:selected=>@value_id},:onChange=>"this.form.submit();"%>

  <% end %>
</div>


<div id="products-panel">
  <%= render "products_body",:products=>@products %>
</div>
