<footer class="container-fluid footer-container" >
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="col-md-8 col-md-offset-5">
        <p>客服电话:123456789</p>
        <p>邮箱:admin@email.com</p>
        <p>地址:北京市朝阳区通惠河北路6号朗园2号楼A座8层</p>
        <p>关注我们:
          <a href="http://weibo.com/u/5745019302?topnav=1&wvr=6&topsug=1&is_all=1">
            <i class="fa fa-weibo"></i>
          </a>
        </p>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="col-md-8 col-md-offset-1">
        <p>京ICP备15037205号-2京公网安备 11010502034xxx号</p>
        <p>xxx公司</p>
        <p>Copyright © 2017 All rights reserved</p>
      </div>
    </div>
  </div>

</footer>
